.banner {
    position: relative;
    height: 223px;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin: 20px auto;
    overflow: hidden;
    max-width: 1240px;
    width: 100%;      
}

.banner__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner__text {
    padding: 0 20px;
    color: white;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .banner {
        height: 130px;
        border-radius: 10px;
    }

    .banner__text {
        justify-content: flex-start;
        align-items: center;
        text-align: left;
        font-size: 24px;
    }

    .banner__overlay {
        justify-content: left;
    }
}