.dropdown {
    width: 100%;
    margin-bottom: 1rem;
  
    &__header {
      background-color: #ff6060;
      color: white;
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 10px;
      cursor: pointer;
      position: relative;
      z-index: 2;
    }
  
    &__title {
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    &__arrow {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      transform: rotate(-45deg);
      transition: transform 0.3s ease;
    }
  
    &__arrow.open {
      transform: rotate(135deg);
    }
  
    &__content {
      max-height: 0;
      overflow: hidden;
      background-color: #f6f6f6;
      border-radius: 0 0 10px 10px;
      padding: 0 1.5rem;
      transform: translateY(-20px);
      opacity: 0;
      transition: max-height 0.5s ease, transform 0.5s ease, opacity 0.5s ease;
      position: relative;
      z-index: 1;
  
      p {
        margin: 1.5rem 0;
        font-size: 1.2rem;
        color: #000;
      }
    }
  
    &__content.open {
      max-height: 500px;
      transform: translateY(0);
      opacity: 1;
    }
  }
  