.footer {
    min-height: 10vh;
    background-color: #000;
    color: #fff;
    padding: 20px 0;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    &__logo {
        width: 120px;
        height: auto;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
    }
}

@media screen and (max-width: 768px) {
    .footer {
        min-height: 15vh;

    }
}