.footer {
    background-color: #000; /* Fond noir */
    color: #fff; /* Texte blanc */
    padding: 20px 0; /* Espacement vertical */

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px; /* Espacement entre les éléments */
    }

    &__logo {
        width: 120px; /* Taille du logo */
        height: auto;
    }

    &__text {
        font-size: 14px;
        font-weight: 400;
    }
}
