.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // padding: 10px 20px;
    background-color: white;
    margin-top: 40px;
  margin-left: 100px;
  margin-right: 100px;
}

.Header .logo {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.Menu {
    nav {
        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            gap: 20px;
        }

        li {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 16px;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}