.accordion {
  display: flex;
  flex-direction: column;
  gap: 40px;

  &__item {
    background-color: transparent;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    z-index: 0;
  }

  &__header {
    background-color: #ff6060;
    color: white;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    position: relative;
    z-index: 2;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  &__title {
    z-index: 3;
    position: relative;
  }

  &__icon {
    background: none;
    border: none;
    color: white;
    font-size: 28px;
    transform: rotate(-90deg);
    transition: transform 0.4s ease;
    cursor: pointer;
    z-index: 3;
  }

  &__item--active .accordion__icon {
    transform: rotate(-270deg);
  }

  &__content-wrapper {
    max-height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.5s ease, opacity 0.4s ease, transform 0.5s ease;
    opacity: 0;
    transform: translateY(-20px); // effet derrière le head
    position: relative;
    z-index: 1;
  }

  &__item--active .accordion__content-wrapper {
    max-height: 500px;
    opacity: 1;
    // transform: translateY(0);
  }

  &__content {
    padding: 25px 30px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    color: #000;
    line-height: 1.6;

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}
