.accordion {
    display: flex;
    flex-direction: column;
    gap: 40px; 
    // padding: 30px;

    &__item {
        background-color: #ff6060; 
        color: white; 
        border-radius: 5px; 
        overflow: hidden; 
        cursor: pointer;
        transition: all 0.3s ease; 

        &--active {
            .accordion__header {
                background-color: #ff4040;
            }
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
        font-size: 16px;
        font-weight: bold;
        transition: background-color 0.3s ease;
    }

    &__title {
        text-align: left;
    }

    &__icon {
        font-size: 18px;
    }

    &__content {
        padding: 15px 20px;
        font-size: 14px;
        background-color: #F6F6F673;
    }
}


.accordion__content-wrapper {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }
  
  .accordion__content {
    padding: 25px 30px;
    font-size: 16px;
    font-weight: 400;
    background-color: #F6F6F6;
    color: #000;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
  
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
    }
  
    li {
      margin-bottom: 10px;
    }
  
    p {
      margin: 0;
    }
  }
  
  

  .accordion__icon {
    background: none;
    border: none;
    box-shadow: none;  
    color: white;
    font-size: 28px;
    display: inline-block;
    transform: rotate(-90deg);
    transition: transform 0.4s ease-in-out;
  }
  
  .rotate {
    transform: rotate(-270deg);
  }
  