html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%
}

.app {
  display: flex;
  flex-direction: column;
  flex: 1;
  
}

main {
  flex: 1;
}

.Middle {
  flex: 1;
  padding: 20px;
}

.page-container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  // padding: 0 20px;
  box-sizing: border-box;
}
